body {
  background-color: white;
  text-align: center;
  margin: 0
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 280px;
}
html{
  background-color: #66BFBF;
}
span {
  text-decoration: underline;
}
p{
  color: #40514E;
font-weight: bold;
font-size: 20px;
}

hr{
  margin-top: 100px;
  border-color: gray;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}

h1 {
  line-height: 2;
  position: relative;
  bottom: 50px;
  color: #66BFBF;
  font-family: cursive;
  font-size: 60px;
  margin-top: 0
}

.programmer{
  position: relative;
  bottom: 50px;
}

.my-skills{
  position: relative;
  top: 75px;
  font-size: 40px;
}

h2{
  color: #66BFBF;
  font-weight: normal;
  font-family: sans-serif;
    font-size: 40px;
}

h3{
  color: #11999E;
  font-size: 25px;
}


a{
  color: #11999E;
}

.skills{
  margin: 100px auto 100px auto;
}
.skill-row{
margin: 200px auto 0 auto;
width: 50%;
text-align: left;
line-height: 2;
}

.skill-row-2{
margin: 200px auto auto auto;
text-align: left;
line-height: 2;
}

.skill-img1{
  width: 25;
float: left;
margin-right: 30px
}

.skill-img2{
  width: 25;
float: right;
margin-left: 30px
}

.skill-img3{
  width: 320px;
float: left;
margin-right: 30px
}

.skill-descr{
  clear: left;
}

.middle-container {
  margin: 100px auto 0 auto;

}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 40px;
line-height: 3;
}
.footer-link{
  color: #11999E;
  font-weight: 600;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  margin: auto 20px auto 20px;
}
.copyright{
  color: #EAF6F6;
  font-weight: 300;
  font-size: 18px;
}
.top-cloud {
  position: absolute;
  top: 130px;
  left: 900px;
}

.bottom-cloud {
  position: absolute;
}

.mountain{
  width: 798px;
}

.contact-me{
  line-height: 2;
  margin-bottom: 60px;
}


.btn {
  font-family: sans-serif;
  text-decoration: none;
    border: 0;
    line-height: 6;
    padding: 10px 20px 10px 20px;;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #66BFBF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #11999E;
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
